h1 {
    font-family: $standard;
    font-weight: $bold;
    font-size: $xxx-large;
}

h3 {
    font-family: $standard;
    font-weight: $bold;
    font-size: $x-large;
    color: $white;
}

p {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $medium;
    color: $quick-silver;
}